
@{
  ViewData["Title"] = "IndexWithLayout";
}

<h2>Index With Layout</h2>

<a href="/home/index">Index page with static reference</a>
<br />
<a asp-controller="home" asp-action="index">Index page with asp reference</a>

