@{
    Layout = null;
}
@model DemoModel;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Hello world! Welcome to:</h2>
    <h2>@Model.FirstName</h2>
    <h2>@Model.LastName</h2>
    <h2>@Model.Age</h2>
</body>
</html>